/*
 *   Q Scan Cascading Style Sheet
 *
 *   Shourov K. Chatterji
 *   shourov@ligo.caltech.edu
 *
 *   $Id: qstyle.css,v 1.2 2007/08/01 14:13:33 shourov Exp $
 */

/**********************************************************/
/*                                                        */
/*                        DOCUMENT                        */
/*                                                        */
/**********************************************************/

body {
  font-family: Tahoma,Geneva,sans-serif;
  color: black;
  background-color: white;
  text-align: center;
  white-space: nowrap;
  display: table;
  width: 98%;
}

/**********************************************************/
/*                                                        */
/*                         TITLE                          */
/*                                                        */
/**********************************************************/

.title h1 {
  width: 100%;
  font-size: xx-large;
  font-weight: normal;
  text-align: center;
  color: white;
  background-color: maroon;
  padding: 10px 0px 10px 0px;
  border: 1px solid black;
  margin: 0px 0px 0px 0px;
}

/**********************************************************/
/*                                                        */
/*                          INDEX                         */
/*                                                        */
/**********************************************************/

.index {
  float: left;
  width: 175px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
}

.index h2 {
  font-size: xx-large;
  font-weight: normal;
  text-align: left;
  color: white;
  background-color: maroon;
  padding: 10px 0px 10px 10px;
  border: 1px solid black;
  margin: 10px 0px 0px 0px;
}

.index p {
  font-size: medium;
  font-weight: normal;
  text-align: left;
  color: black;
  background-color: #D3D3D3;
  padding: 20px 4px 20px 10px;
  border: solid black;
  border-width: 0px 1px 1px 1px;
  margin: 0px 0px 0px 0px;
  line-height: 175%;
}

/**********************************************************/
/*                                                        */
/*                        content                         */
/*                                                        */
/**********************************************************/

.content {
  padding: 0px 0px 0px 0px;
  margin: 0px -2px 0px 185px;
}

.content h2 {
  font-size: xx-large;
  font-weight: normal;
  text-align: center;
  color: white;
  background-color: maroon;
  padding: 10px 0px 10px 10px;
  border: 1px solid black;
  margin: 10px 0px 0px 0px;
}

.content h3 {
  display: inline;
  font-size: x-large;
  font-weight: normal;
  text-align: left;
  color: black;
  background-color: inherit;
  padding: 0px 10px 0px 0px;
  margin: 0px 0px 0px 0px;
  line-height: 175%;
}

.content div {
  font-size: large;
  font-weight: normal;
  text-align: center;
  color: black;
  background-color: white;
  padding: 5px 5px 5px 20px;
  border: solid black;
  border-width: 0px 1px 1px 1px;
  margin: 0px 0px 0px 0px;
}

.content div p {
  white-space: normal;
}

.content div div {
  padding: 0px 0px 0px 0px;
  border-width: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.content h2.Summary {
  color: white;
  background-color: maroon;
}

.content h2.Parameters {
  color: white;
  background-color: olive;
}

.content h2.Notes {
  color: white;
  background-color: green;
}

/**********************************************************/
/*                                                        */
/*                         TOGGLE                         */
/*                                                        */
/**********************************************************/

input {
  font-size: small;
  font-weight: bold;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

/**********************************************************/
/*                                                        */
/*                         FOOTER                         */
/*                                                        */
/**********************************************************/

.footer {
  clear: both;
  width: 100%;
  font-size: medium;
  font-weight: normal;
  text-align: left;
  margin: 14px 0px 0px 0px;
  border-top: 1px solid black;
}

/**********************************************************/
/*                                                        */
/*                         LINKS                          */
/*                                                        */
/**********************************************************/

a:link {
  color: maroon;
  background-color: inherit;
  text-decoration: none;
}

a:visited {
  color: maroon;
  background-color: inherit;
  text-decoration: none;
}

a:hover {
  color: purple;
  background-color: inherit;
  text-decoration: none;
}

a:focus {
  color: navy;
  background-color: inherit;
  text-decoration: none;
}

a:active {
  color: red;
  background-color: inherit;
  text-decoration: none;
}

/**********************************************************/
/*                                                        */
/*                         TABLES                         */
/*                                                        */
/**********************************************************/

table {
  font-size: medium;
  font-weight: normal;
  text-align: left;
  color: black;
  background: white;
  padding: 0px 0px 0px 0px;
  border: 1px solid black;
  margin: 10px 0px 10px 0px;
}

tr {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

td {
  padding: 0px 5px 0px 5px;
  border: 0px solid black;
  margin: 0px 0px 0px 0px;
}

th {
  font-weight: bold;
  width: 12ex;
  padding: 0px 5px 0px 5px;
  border: 0px solid black;
  margin: 0px 0px 0px 0px;
}

.shade {
  color: #888888;
}
